In [26]:
import pandas as pd

transactions = pd.read_csv('Transactions.csv')

In [27]:
customers = pd.read_csv('Customers.csv')

In [28]:
products = pd.read_csv('Products.csv')

In [29]:
transactions = pd.merge(transactions, products, on='ProductID')

In [30]:
customer_transactions = pd.merge(transactions, customers, on='CustomerID')

In [19]:
customers

    CustomerID        CustomerName         Region  SignupDate
0        C0001    Lawrence Carroll  South America  2022-07-10
1        C0002      Elizabeth Lutz           Asia  2022-02-13
2        C0003      Michael Rivera  South America  2024-03-07
3        C0004  Kathleen Rodriguez  South America  2022-10-09
4        C0005         Laura Weber           Asia  2022-08-15
..         ...                 ...            ...         ...
195      C0196         Laura Watts         Europe  2022-06-07
196      C0197    Christina Harvey         Europe  2023-03-21
197      C0198         Rebecca Ray         Europe  2022-02-27
198      C0199      Andrea Jenkins         Europe  2022-12-03
199      C0200         Kelly Cross           Asia  2023-06-11

[200 rows x 4 columns]

In [31]:
customer_transactions

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price_x,ProductName,Category,Price_y,CustomerName,Region,SignupDate
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68,ComfortLiving Bluetooth Speaker,Electronics,300.68,Andrea Jenkins,Europe,2022-12-03
1,T00761,C0199,P022,2024-10-01 05:57:09,4,550.16,137.54,HomeSense Wall Art,Home Decor,137.54,Andrea Jenkins,Europe,2022-12-03
2,T00626,C0199,P079,2024-08-17 12:06:08,2,834.74,417.37,ActiveWear Rug,Home Decor,417.37,Andrea Jenkins,Europe,2022-12-03
3,T00963,C0199,P008,2024-10-26 00:01:58,2,293.70,146.85,BookWorld Bluetooth Speaker,Electronics,146.85,Andrea Jenkins,Europe,2022-12-03
4,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68,ComfortLiving Bluetooth Speaker,Electronics,300.68,Brittany Harvey,Asia,2024-09-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,T00774,C0095,P056,2024-01-07 14:19:49,2,32.16,16.08,SoundWave Smartwatch,Electronics,16.08,William Walker,South America,2023-03-04
996,T00823,C0095,P079,2024-09-30 10:45:06,3,1252.11,417.37,ActiveWear Rug,Home Decor,417.37,William Walker,South America,2023-03-04
997,T00369,C0151,P082,2024-12-24 11:40:24,4,223.96,55.99,ComfortLiving Rug,Home Decor,55.99,Amber Gonzalez,South America,2024-11-22
998,T00809,C0078,P075,2024-12-09 11:44:44,2,995.52,497.76,TechPro Textbook,Books,497.76,Julia Palmer,Asia,2024-11-13
999,T00527,C0110,P028,2024-01-02 19:11:34,4,942.32,235.58,HomeSense Desk Lamp,Home Decor,235.58,Elizabeth Wells,Asia,2024-09-21

In [32]:
customer_transactions.drop(['Price_y'],axis=1,inplace=True)

In [33]:
customer_transactions

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price_x,ProductName,Category,CustomerName,Region,SignupDate
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68,ComfortLiving Bluetooth Speaker,Electronics,Andrea Jenkins,Europe,2022-12-03
1,T00761,C0199,P022,2024-10-01 05:57:09,4,550.16,137.54,HomeSense Wall Art,Home Decor,Andrea Jenkins,Europe,2022-12-03
2,T00626,C0199,P079,2024-08-17 12:06:08,2,834.74,417.37,ActiveWear Rug,Home Decor,Andrea Jenkins,Europe,2022-12-03
3,T00963,C0199,P008,2024-10-26 00:01:58,2,293.70,146.85,BookWorld Bluetooth Speaker,Electronics,Andrea Jenkins,Europe,2022-12-03
4,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68,ComfortLiving Bluetooth Speaker,Electronics,Brittany Harvey,Asia,2024-09-04
...,...,...,...,...,...,...,...,...,...,...,...,...
995,T00774,C0095,P056,2024-01-07 14:19:49,2,32.16,16.08,SoundWave Smartwatch,Electronics,William Walker,South America,2023-03-04
996,T00823,C0095,P079,2024-09-30 10:45:06,3,1252.11,417.37,ActiveWear Rug,Home Decor,William Walker,South America,2023-03-04
997,T00369,C0151,P082,2024-12-24 11:40:24,4,223.96,55.99,ComfortLiving Rug,Home Decor,Amber Gonzalez,South America,2024-11-22
998,T00809,C0078,P075,2024-12-09 11:44:44,2,995.52,497.76,TechPro Textbook,Books,Julia Palmer,Asia,2024-11-13
999,T00527,C0110,P028,2024-01-02 19:11:34,4,942.32,235.58,HomeSense Desk Lamp,Home Decor,Elizabeth Wells,Asia,2024-09-21

In [34]:
total_region=customer_transactions.groupby(['CustomerID','Region']).size().reset_index(name='Count')

In [35]:
total_region = total_region.loc[total_region.groupby('CustomerID')['Count'].idxmax()]

In [36]:
total_region = total_region[['CustomerID', 'Region']]

In [37]:
total_region

    CustomerID         Region
0        C0001  South America
1        C0002           Asia
2        C0003  South America
3        C0004  South America
4        C0005           Asia
..         ...            ...
194      C0196         Europe
195      C0197         Europe
196      C0198         Europe
197      C0199         Europe
198      C0200           Asia

[199 rows x 2 columns]

In [38]:
total_spending = customer_transactions.groupby('CustomerID')['TotalValue'].sum().reset_index()
total_spending.columns = ['CustomerID', 'TotalSpending']

In [40]:
num_transactions = customer_transactions.groupby('CustomerID')['TransactionID'].count().reset_index()
num_transactions.columns = ['CustomerID', 'NumTransactions']

In [41]:
favorite_category = customer_transactions.groupby(['CustomerID', 'Category']).size().reset_index(name='Count')
favorite_category = favorite_category.loc[favorite_category.groupby('CustomerID')['Count'].idxmax()]
favorite_category = favorite_category[['CustomerID', 'Category']]
favorite_category.columns = ['CustomerID', 'FavoriteCategory']

In [42]:
customer_features = pd.merge(total_spending, num_transactions, on='CustomerID')
customer_features = pd.merge(customer_features, favorite_category, on='CustomerID')
customer_features=pd.merge(customer_features,total_region,on="CustomerID")

In [43]:
customer_features

    CustomerID  TotalSpending  NumTransactions FavoriteCategory         Region
0        C0001        3354.52                5      Electronics  South America
1        C0002        1862.74                4         Clothing           Asia
2        C0003        2725.38                4       Home Decor  South America
3        C0004        5354.88                8            Books  South America
4        C0005        2034.24                3      Electronics           Asia
..         ...            ...              ...              ...            ...
194      C0196        4982.88                4       Home Decor         Europe
195      C0197        1928.65                3      Electronics         Europe
196      C0198         931.83                2         Clothing         Europe
197      C0199        1979.28                4      Electronics         Europe
198      C0200        4758.60                5         Clothing           Asia

[199 rows x 5 columns]

In [44]:
customer_features = pd.get_dummies(customer_features, columns=['FavoriteCategory'], prefix='Category')
customer_features = pd.get_dummies(customer_features, columns=['Region'], prefix='region')

In [45]:
customer_features

,CustomerID,TotalSpending,NumTransactions,Category_Books,Category_Clothing,Category_Electronics,Category_Home Decor,region_Asia,region_Europe,region_North America,region_South America
0,C0001,3354.52,5,0,0,1,0,0,0,0,1
1,C0002,1862.74,4,0,1,0,0,1,0,0,0
2,C0003,2725.38,4,0,0,0,1,0,0,0,1
3,C0004,5354.88,8,1,0,0,0,0,0,0,1
4,C0005,2034.24,3,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
194,C0196,4982.88,4,0,0,0,1,0,1,0,0
195,C0197,1928.65,3,0,0,1,0,0,1,0,0
196,C0198,931.83,2,0,1,0,0,0,1,0,0
197,C0199,1979.28,4,0,0,1,0,0,1,0,0
198,C0200,4758.60,5,0,1,0,0,1,0,0,0

In [46]:
from sklearn.metrics.pairwise import cosine_similarity


from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
customer_features_scaled = scaler.fit_transform(customer_features.iloc[:, 1:])


similarity_matrix = cosine_similarity(customer_features_scaled)

In [47]:
import numpy as np


lookalike_recommendations = {}


customer_ids = customer_features['CustomerID'].values


for i in range(20):
    customer_id = customer_ids[i]
    similarity_scores = similarity_matrix[i]
    
    top_indices = np.argsort(similarity_scores)[-4:-1][::-1]
    top_customers = [(customer_ids[idx], similarity_scores[idx]) for idx in top_indices]
    
    lookalike_recommendations[customer_id] = top_customers

In [48]:

lookalike_df = pd.DataFrame.from_dict(lookalike_recommendations, orient='index')
lookalike_df = lookalike_df.stack().apply(pd.Series).reset_index(level=1, drop=True)
lookalike_df.columns = ['LookalikeCustomerID', 'SimilarityScore']

lookalike_df.to_csv('Lookalike.csv', index_label='CustomerID')

In [49]:
lookalike_df

      LookalikeCustomerID  SimilarityScore
C0001               C0190         0.999736
C0001               C0048         0.999540
C0001               C0181         0.998016
C0002               C0088         0.997698
C0002               C0092         0.997297
C0002               C0134         0.996600
C0003               C0052         0.999886
C0003               C0031         0.998943
C0003               C0158         0.998072
C0004               C0155         0.998414
C0004               C0165         0.996728
C0004               C0087         0.995634
C0005               C0186         0.999842
C0005               C0007         0.999377
C0005               C0140         0.997558
C0006               C0168         0.998772
C0006               C0187         0.997768
C0006               C0011         0.997331
C0007               C0005         0.999377
C0007               C0115         0.999365
C0007               C0186         0.998593
C0008               C0065         0.985269
C0008               C0059         0.981359
C0008               C0160         0.958419
C0009               C0062         0.998809
C0009               C0198         0.997562
C0009               C0061         0.996696
C0010               C0111         0.997706
C0010               C0062         0.997670
C0010               C0061         0.997275
C0011               C0137         0.999704
C0011               C0191         0.998987
C0011               C0174         0.998669
C0012               C0113         0.997967
C0012               C0163         0.997601
C0012               C0104         0.996422
C0013               C0099         0.998093
C0013               C0108         0.997959
C0013               C0107         0.984961
C0014               C0060         0.999876
C0014               C0089         0.986683
C0014               C0166         0.969411
C0015               C0036         0.996493
C0015               C0131         0.996285
C0015               C0094         0.990480
C0016               C0183         0.999999
C0016               C0067         0.998026
C0016               C0030         0.996660
C0017               C0075         0.997321
C0017               C0041         0.994906
C0017               C0057         0.993355
C0018               C0117         0.997104
C0018               C0122         0.992780
C0018               C0125         0.992242
C0019               C0081         0.996573
C0019               C0064         0.991147
C0019               C0057         0.989977
C0020               C0050         0.980720
C0020               C0035         0.972922
C0020               C0026         0.964953